{{page-title 'ChevrotainDemo'}}

<div class='item'>
  <label>transform sql inputValue to Ast<Input
      @value={{this.sqlValue}}
    /></label>
  <button type='button' {{on 'click' this.transformSQLAst}}>SQL转换</button>
</div>
<div class='item'>
  <label>transform sum inputValue to Ast<Input
      @value={{this.sumValue}}
    /></label>
  <button type='button' {{on 'click' this.transformSUMAst}}>SUM转换</button>
</div>

<div class='item'>
  <label>transform calculator inputValue to Ast<Input
      @value={{this.calculatorValue}}
    /></label>
  <button
    type='button'
    {{on 'click' this.transformCalculatorAst}}
  >CALCULATOR转换</button>
</div>

<div class='item'>
  <label>transform any inputValue to Ast<Input
      @value={{this.anyValue}}
    /></label>
  <button type='button' {{on 'click' this.transformAnyAst}}>Any转换</button>
</div>

<div class='item'>
  <label>faultTolerant<Input @value={{this.faultTolerantValue}} /></label>
  <button
    type='button'
    {{on 'click' this.faultTolerantFun}}
  >testFaultTolerant</button>
</div>

<div class='item'>
  <label>customLexerError<Input @value={{this.customLexerErrorValue}} /></label>
  <button
    type='button'
    {{on 'click' this.customLexerErrorFun}}
  >testCustomLexerError</button>
</div>

{{outlet}}